<form  [formGroup]="myForm" (ngSubmit)="onSubmitForm();"   class="form-group m-3">
    <div class="form-group">
        <label  class="form-label">Business name</label>
        <input type="text" class="form-control mb-3" id="business_name" formControlName="business_name" placeholder="Business Name">
        <div *ngIf="(myForm.get('business_name')?.errors)&&myForm.get('business_name')?.touched" class="text-danger">
            Business name is required must be between 4 and 20 characters.
        </div>
    </div>
    <div class="form-group">
        <label  class="form-label">Business address</label>
        <input type="text" class="form-control mb-3" id="warehouse-type" formControlName="business_address" placeholder="Business address">
        <div *ngIf="(myForm.get('business_address')?.errors)&&myForm.get('business_address')?.touched" class="text-danger">
            Choose valid Warehouse type.
        </div>
    </div>
    <div class="form-group">
        <label  class="form-label">Business type</label>
        <input type="text" class="form-control mb-3" formControlName="business_type" placeholder="business type">
        <div *ngIf="(myForm.get('business_type')?.errors)&&myForm.get('business_type')?.touched" class="text-danger">
            address is required and must be between 5 and 200 characters.
        </div>
    </div>
   
<button class="btn btn-dark">Submit</button>
</form>
