<p>warehouse-register works!</p>
<form [formGroup]="myForm" class="form-group">
    <div class="form-group">
        <input type="text" class="form-control" id="name" formControlName="name" placeholder="Name">
        
    </div>
    <div class="form-group">
        
        <input type="text" class="form-control" id="warehouse-type" formControlName="warehouseType" placeholder="Warehouse type">
    </div>
    <div class="form-group">
        
        <input type="text" class="form-control" formControlName="wrahouseAddress" placeholder="Name">
    </div>
    <div class="form-group">
        
        <input type="text" class="form-control" id="name" formControlName="capacity" placeholder="Name">
    </div>
    <div class="form-group">
        
        <input type="text" class="form-control" id="name" formControlName="serviceFeePerVolume" placeholder="Name">
    </div>

</form>