<div class="container">


  
    

    <div class="row" style="text-align: center;">
      <app-loading-spinner *ngIf="isLoading"></app-loading-spinner>
    </div>
    <div class="alert alert-danger" *ngIf="apiError">
      <p>{{apiError}}</p>
    </div>
     <div class="row" *ngIf="!isLoading">
       <div class="col-md-3">
        
         <div class="list-group" style="width: 100px;">
   
           <button *ngFor="let warehouse of warehouses; let i = index;" (click)="selectWarehouse(i)"
            type="button" class="list-group-item list-group-item-action">{{warehouse.warehouseName}}</button>
         
         </div>
       </div>

       ************************************
       <div class="row">
       <div class="col-md-3">
       
           <div class="col-lg" style="text-align: center; ">
               <h1>{{warehouses[selectedWarehouseId].warehouseName}}</h1>
           </div>
   
       
       <div class=" m-3" >
           <div class="col-md-9">
               <div class="card" style="width: 100rem;">
                   <div class="card-body">
                     <h5 class="card-title">My Info</h5>
                     <p class="card-text"><b>Name:</b> {{warehouses[selectedWarehouseId].ownerName}}</p>
                     <p class="card-text"><b>Email:</b> {{warehouses[selectedWarehouseId].ownerEmail}}</p>
                     <p class="card-text"><b>Warehouse Address:</b> {{warehouses[selectedWarehouseId].address}}</p>
                   </div>
                 </div>
           </div>
       </div>
      </div>
      </div>
       <div class="row m-3">
           <div class="col">
               <div class="card" style="width: 18rem;">
               <div class="card-body">
                 <h5 class="card-title">Capacity</h5>
                 <circle-progress [percent]="capacityPerecent(warehouses[selectedWarehouseId].availableCapacity,warehouses[selectedWarehouseId].capacity)"  [space]="-10" [radius]="100" [outerStrokeWidth]="10"
         [innerStrokeWidth]="10" [outerStrokeColor]="'#4882c2'" [innerStrokeColor]="'#e7e8ea'" [animation]="true"
         [animationDuration]="1000"></circle-progress>
                 <p class="card-text"><b>Available Capacity:</b> {{warehouses[selectedWarehouseId].availableCapacity}} unit</p>
                 <p class="card-text"><b>Capacity:</b>{{warehouses[selectedWarehouseId].capacity}} Unit</p>
   
                 
   
               </div>
             </div></div>
           <div class="col">
               <div class="card" style="width: 18rem;">
                   <div class="card-body">
                     <h5 class="card-title">Earning</h5>
                     <p class="card-text"><b>Earning:</b> {{warehouses[selectedWarehouseId].earning}}</p>
                     <p class="card-text"><b>Service fee:</b> {{warehouses[selectedWarehouseId].serviceFee}}</p>
                     
   
                   </div>
                 </div>
           </div>
           <div class="col" *ngIf="warehouses[selectedWarehouseId].lastMileName">
               <div class="card" style="width: 18rem;">
                   <div class="card-body">
                     <h5 class="card-title">Last Miles</h5>
                     <p class="card-text"><b>Company Name:</b> {{warehouses[selectedWarehouseId].lastMileName}}</p>
                     <p class="card-text"><b>Tax:</b> {{warehouses[selectedWarehouseId].lastMileTax}}%</p>
   
                     
   
                   </div>
                 </div>
           </div>
   
       </div>
       <div class="row m-3">
<!-- Button trigger modal -->
<button type="button" (click)="createTicket()" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Request ticket
</button>
       </div>
      
     </div>
      
  
    
    
</div>



<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ticket data</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <label for="test"> Update</label>
        <input type="radio" name="test" value="update" [(ngModel)]="selectedRadio">
        <br><br>
        <label for="test"> Delete</label>
        <input type="radio" name="test" value="delete" [(ngModel)]="selectedRadio">
        <hr/>


        <form *ngIf="selectedRadio === 'update'" [formGroup]="ticketForm"  action="">

          <div class="form-group">
            <label  class="form-label">Name</label>
            <input type="text" class="form-control mb-3" id="name" formControlName="name" placeholder="Name">
            <div *ngIf="(ticketForm.get('name')?.errors)&&ticketForm.get('name')?.touched" class="text-danger">
                Warehouse name is required must be between 3 and 30 characters.
            </div>
        </div>
        <div class="form-group">
          <label  class="form-label">Address</label>
          <input type="text" class="form-control mb-3" formControlName="warehouseAddress" placeholder="warehouse address">
          <div *ngIf="(ticketForm.get('warehouseAddress')?.errors)&&ticketForm.get('warehouseAddress')?.touched" class="text-danger">
            address is required and must be between 5 and 200 characters.
          </div>
        </div>
        <div class="form-group">
          <label  class="form-label">Capacity</label>
          <input type="text" class="form-control mb-3" id="name" formControlName="capacity" placeholder="capacity">
          <div *ngIf="(ticketForm.get('capacity')?.errors)&&ticketForm.get('capacity')?.touched" class="text-danger">
            Capacity is required and must be between 10 and 50000.
          </div>
        </div>
        <div class="form-group">
          <label  class="form-label">Fee</label>
          <input type="text" class="form-control mb-3" id="name" formControlName="serviceFeePerVolume" placeholder="service fee per volume">
          <div *ngIf="(ticketForm.get('serviceFeePerVolume')?.errors)&&ticketForm.get('serviceFeePerVolume')?.touched" class="text-danger">
            Fee is required and must be between 1 and 50000.
          </div>
          <div class="form-check">
            <label for="shipment">shipment</label>
            <input type="checkbox"  id="name" formControlName="shipments" placeholder="service fee per volume">
          </div>
          <hr/>

          <div class="form-group">
            <label  class="form-label">Ticket Reason</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            <div *ngIf="(ticketForm.get('name')?.errors)&&ticketForm.get('name')?.touched" class="text-danger">
                Warehouse name is required must be between 3 and 30 characters.
            </div>
        </div>
      </div>
          <br>
          <button class="btn btn-dark" >Submit</button>

      </form>
      <div id="delete" *ngIf="selectedRadio === 'delete'">
        <h5>Are you sure to delete <b>"{{warehouses[selectedWarehouseId].warehouseName}}"</b>?</h5>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Yes</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <hr/>

        <!-- <div class="form-group">
          <label  class="form-label">Ticket Reason</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
          <div *ngIf="(ticketForm.get('name')?.errors)&&ticketForm.get('name')?.touched" class="text-danger">
              Warehouse name is required must be between 3 and 30 characters.
          </div>
      </div> -->

      </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


