@import '~bootstrap/dist/css/bootstrap.min.css';

.d-flex{
    height: 100%;
}

/* Custom Styles */
.custom-button {
    background-color: #000000;
    color: #FFFF00;
  }
  
  .custom-heading {
    color: #000000;
    font-size: 24px;
    font-weight: bold;
  }
  
  .custom-card {
    background-color: #000000;
    color: #FFFF00;
    width: 100rem;
  }
  
  .custom-card-title {
    color: #FFFF00;
  }
  
  .custom-card-text {
    color: #FFFF00;
  }
  