
// .about-us{
//     margin-top: 10px;
   
// }
// .about-us img{
//     width: 600px;
//     height: 400px;

// }
// .about-us p{
//     margin-top: 20px;
//     text-align: center;
//     font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande';
// }
// .about-us h2{
//     font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
//     text-align: center;

// }
#about-us {
  padding: 70px 0;
  background-color: rgb(252, 255, 255);
  height: 75vh;
}

#about-us h2 {
  font-size: 36px;
  margin-bottom: 30px;
}

#about-us p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 30px;
}

#about-us img {
  margin-bottom: 30px;
  border-radius: 20px;
}

