  <!-- <div class="container about-us">
    <div class="row">
      <div class="col-md-6 order-md-2">
        <img src="../../../assets/premium_photo-1663040001568-f07cab70d71f.avif" alt="" class="img-fluid">
      </div>
      <div class="col-md-6 order-md-1">
        <h2>About Us</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sit amet laoreet elit. Sed lorem magna, euismod non sapien eu, blandit bibendum magna. Integer in nulla vitae augue sollicitudin imperdiet.</p>
      </div>
    </div>
  </div> -->
  <section id="about-us">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <img src="https://via.placeholder.com/600x400" alt="About Us Image" class="img-fluid">
        </div>
        <div class="col-md-6">
          <h2>About Us</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla maximus tellus nec justo varius, eget scelerisque enim viverra. Donec eget risus euismod, faucibus ipsum eget, suscipit mauris. Morbi euismod sodales ex, in pretium nulla sodales eu. Sed eget libero lobortis, efficitur dolor a, lacinia nibh. Sed ac leo vel nunc fermentum hendrerit a a leo. </p>
          <p>Nulla egestas, justo eget tristique condimentum, massa turpis volutpat erat, ut placerat massa elit a tellus. Nulla facilisi. Nullam pretium diam sed metus bibendum, ac consectetur neque rhoncus. In vitae urna ut purus tristique imperdiet. Maecenas quis ligula vel libero tempor fermentum. </p>
        </div>
      </div>
    </div>
  </section>