  <!-- <div class="container about-us">
    <div class="row">
      <div class="col-md-6 order-md-2">
        <img src="../../../assets/premium_photo-1663040001568-f07cab70d71f.avif" alt="" class="img-fluid">
      </div>
      <div class="col-md-6 order-md-1">
        <h2>About Us</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sit amet laoreet elit. Sed lorem magna, euismod non sapien eu, blandit bibendum magna. Integer in nulla vitae augue sollicitudin imperdiet.</p>
      </div>
    </div>
  </div> -->
  <section id="about-us" class="row">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <img src="../../../assets/aboutus2.jpg" alt="About Us Image" class="img-fluid">
        </div>
        <div class="col-md-6">
          <h2>About Us</h2>
          <p>Welcome to Ware Hub, a trusted leader in providing comprehensive warehousing solutions. With a rich history spanning 6 years, we have built a solid reputation for excellence in the industry.
            At Ware Hub, our mission is to deliver efficient and reliable warehousing services tailored to meet the unique needs of our clients. We are guided by our core values of customer satisfaction, integrity, and operational excellence.
            </p>
          <p>With our deep expertise and industry knowledge, we offer a wide range of services designed to streamline your supply chain. Our state-of-the-art facilities boast a 70% capacity, equipped with advanced technology and infrastructure to ensure seamless operations. We understand that every business is different, which is why we provide flexible storage options, including bulk storage, temperature-controlled areas, and specialized sections for specific goods. </p>
        </div>
      </div>
    </div>
  </section>