<nav class="navbar navbar-inverse p-3">
  <div class="container-fluid p-3">
    <ul class="nav navbar-left">
      <li class="navbar-brand px-3">
        <a class="navbar-brand px-3" href="#">Warehub</a>
      </li>
      <li class="active px-3 py-2"><a href="#">Home</a></li>
      <li class="p-2"><a href="/product/listing">Products</a></li>
      <li class="p-2"><a href="#">Contact</a></li>
      <li class="p-2"><a href="#">About</a></li>
    </ul>

    <ul class="nav navbar-right">
      <li class="p-2 mx-4">
        <a href="#" class="login"> Log in</a>
      </li>
      <li class="px-2">
        <a href="#" class="btn"> Sign up</a>
      </li>
    </ul>
  </div>
</nav>
