a {
    text-decoration: none;
    color: #0A0A0A;
}

.navbar {
    background-color: inherit;
}

.btn {
    background-color: #0A0A0A;
    padding: 8px 25px;
    color: white;
    font-weight: 400;
}

.login {
    font-weight:500 ;
}