a {
    transition: color .2s ease;
    color: #009ef7;
}
.card-flush {
    border: 0;
    box-shadow: 0px 0px 20px 0px rgba(76, 87, 125, 0.02);
    background-color: #FFFFFF;
}

.header-row {
   

    --bs-table-color: #B5B5C3;
    font-weight: bold;
    text-transform: uppercase;
}

.table-custom {
    
    border: 0.5px solid  #B5B5C3  ;

}
.product-name {
    color: #3F4254;
    text-decoration: none;

}
.product-name:hover {
    color: #009ef7;
}

.cutter {
    margin-block: 80px;
}

.image-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75px;
    height: 75px;
    font-weight: 500;
    color: #3F4254;
    background-color: #f5f8fa;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border-radius: 0.475rem;
}

// text-start text-gray-400 fw-bold fs-7 text-uppercase gs-0