<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../../../assets/carosel2023-07-07 at 16.58.39.jpg" class="d-block w-100" alt="..."style="height: 700px;" >
      <div class="carousel-caption">
        <h2>Your Trusted Partner in Warehousing Solutions</h2>
        <p> Build trust by positioning your company as a reliable partner for businesses, emphasizing your experience, expertise, and commitment to customer satisfaction.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="../../../assets/photo-1590496794008-383c8070b257.avif" class="d-block w-100" alt="..." style="height: 700px;">
      <div class="carousel-caption">
        <h2>Secure and Reliable Warehousing for Peace of Mind</h2>
        <p>Emphasize the security measures in place at your warehouse facility, highlighting features like surveillance systems, 24/7 monitoring, or advanced access control.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="../../../assets/carusel1.jpg" class="d-block w-100" alt="..." style="height: 700px;">
      <div class="carousel-caption">
        <h2>Streamline Your Supply Chain with Our Warehouse Services</h2>
        <p>Focus on how your warehouse services can optimize the supply chain of businesses, ensuring smooth operations and timely delivery of goods.</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>