<app-header></app-header>

<div class="card card-flush px-4">
  <table class="table table-row-dashed align-middle cutter">
    <thead class="p-3">
      <!--begin::Table row-->
      <tr class="header-row">
        <th [colSpan]="1" class="text-start px-4">Product</th>
        <th class="text-center">SKU</th>
        <th class="text-center">Quantity</th>
        <th class="text-center">Unit Price</th>
        <th class="text-center">Total</th>

        <th class="text-center">Remove Product</th>
      </tr>
      <!--end::Table row-->
    </thead>

    <tbody class="fw-semibold p-3">
      <!--begin::Table row-->
      <tr>
        <!-- start product -->
        <td class="text-center">
          <div class="d-flex align-items-center justify-center text-center">
            <!--begin::Thumbnail-->
            <a href="/" class="image-container">
              <img src="/assets/crepe.jpeg" alt="" width="50px" height="50px" />
            </a>
            <!--end::Thumbnail-->
            <div class="m-3">
              <!--begin::Title-->
              <a href="/" class="fs-5 fw-bold product-name">Crepe</a>
              <!--end::Title-->
            </div>
          </div>
        </td>
        <!-- end product -->

        <!--begin::SKU=-->
        <td class="text-center">
          <span class="fw-bold">02246001</span>
        </td>
        <!--end::SKU=-->
        <!-- Quantity -->

        <td class="text-center">
          <button class="button mx-2">
            <fa-icon [icon]="faMinus"></fa-icon>
          </button>
          <span class="px-2">2</span>
          <button class="button mx-2">
            <fa-icon [icon]="faPlus" size="xs"></fa-icon>
          </button>
        </td>
        <!-- End quantity -->
        <!--begin::Price=-->
        <td class="text-center">50$</td>
        <!--end::Price=-->

        <!--begin::Total Price=-->
        <td class="text-center">100</td>
        <!--end::total Price=-->

        <!-- Remove icon -->

        <td
          class="text-center d-flex g-2 justify-content-center align-items-center"
        >
          <button class="btn btn-danger">
            <fa-icon [icon]="faTrash"></fa-icon>
          </button>
        </td>

        <!-- End remove icon -->
      </tr>

      <tr class="">
        <td [colSpan]="5" class="text-end">Subtotal</td>
        <td class="text-end mx-2">$264.00</td>
      </tr>
      <tr>
        <td [colSpan]="5" class="text-end">VAT (0%)</td>
        <td class="text-end mx-2">0</td>
      </tr>
      <tr>
        <td [colSpan]="5" class="text-end">Shipping rate</td>
        <td class="text-end mx-2">$5.00</td>
      </tr>
      <tr>
        <td [colSpan]="5" class="fs-3 text-dark text-end">Order Total</td>
        <td class="text-end mx-2">$269.00</td>
      </tr>
    </tbody>
  </table>
</div>
