<section id="about-us">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="about-image">
            <img src="../../assets/nana-smirnova-IEiAmhXehwE-unsplash.jpg" alt="About Us Image" class="img-fluid">
          </div>
        </div>
        <div class="col-md-6">
          <div class="about-content">
            <h1>About Us</h1>
            <p>Welcome to Ware Hub, a trusted leader in providing comprehensive warehousing solutions. With a rich history spanning 6 years, we have built a solid reputation for excellence in the industry.
              At Ware Hub, our mission is to deliver efficient and reliable warehousing services tailored to meet the unique needs of our clients. We are guided by our core values of customer satisfaction, integrity, and operational excellence.
              </p>
            <p>With our deep expertise and industry knowledge, we offer a wide range of services designed to streamline your supply chain. Our state-of-the-art facilities boast a 70% capacity, equipped with advanced technology and infrastructure to ensure seamless operations. We understand that every business is different, which is why we provide flexible storage options, including bulk storage, temperature-controlled areas, and specialized sections for specific goods. </p>
           <a href="#" class="btn btn-primary">Learn More</a>
          </div>
        </div>
      </div>
    </div>
  </section>