<section id="about-us">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="about-image">
            <img src="../../assets/nana-smirnova-IEiAmhXehwE-unsplash.jpg" alt="About Us Image" class="img-fluid">
          </div>
        </div>
        <div class="col-md-6">
          <div class="about-content">
            <h1>About Us</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla maximus tellus nec justo varius, eget scelerisque enim viverra. Donec eget risus euismod, faucibus ipsum eget, suscipit mauris. Morbi euismod sodales ex, in pretium nulla sodales eu. Sed eget libero lobortis, efficitur dolor a, lacinia nibh. Sed ac leo vel nunc fermentum hendrerit a a leo. </p>
            <p>Nulla egestas, justo eget tristique condimentum, massa turpis volutpat erat, ut placerat massa elit a tellus. Nulla facilisi. Nullam pretium diam sed metus bibendum, ac consectetur neque rhoncus. In vitae urna ut purus tristique imperdiet. Maecenas quis ligula vel libero tempor fermentum. </p>
            <a href="#" class="btn btn-primary">Learn More</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  