<div class="alert alert-success" role="alert" *ngIf="alertSubject | async">
  Product added Successfully!
</div>

<form [formGroup]="addProductForm" (ngSubmit)="onSubmit()" class="my-3">
  <div class="container">
    <div class="row">
      <div class="form-group col-6 my-4">
        <!-- Name -->
        <label class="py-1" for="name">Name:</label>
        <input
          type="text"
          class="form-control"
          id="name"
          placeholder="Enter product name"
          formControlName="name"
          required
        />
        <label class="py-1" for="warehouseId">Choose warehouse:</label>

        <select name="cars"  class="form-select" formControlName="warehouse_id">
          <option value={{+warehouse.id}} *ngFor="let warehouse of warehouses">{{warehouse.warehouseName}}</option>
          
        </select>
        <div
          *ngIf="
            addProductForm.get('name')?.invalid &&
            (addProductForm.get('name')?.dirty ||
              addProductForm.get('name')?.touched)
          "
          class="text-danger"
        >
          <div *ngIf="addProductForm.get('name')?.errors?.['required']">
            name is required
          </div>
          <div *ngIf="addProductForm.get('name')?.errors?.['minlength']">
            Invalid must be more than 3 chars
          </div>
        </div>
      </div>

      <!-- Sku -->
      <div class="form-group col-6 my-4">
        <label class="py-1" for="sku">SKU:</label>
        <input
          type="text"
          class="form-control"
          id="sku"
          placeholder="Enter product sku"
          formControlName="sku"
          required
        />
        <div
          *ngIf="
            addProductForm.get('sku')?.invalid &&
            (addProductForm.get('sku')?.dirty ||
              addProductForm.get('sku')?.touched)
          "
          class="text-danger"
        >
          <div *ngIf="addProductForm.get('sku')?.errors?.['required']">
            sku is required
          </div>
          <div *ngIf="addProductForm.get('sku')?.errors?.['minlength']">
            Invalid must be more than 3 chars
          </div>
        </div>
      </div>
    </div>

    <div class="form-group mb-3">
      <!-- Description -->
      <label class="" for="description" class="py-1">Description:</label>
      <textarea
        class="form-control py-2"
        id="description"
        placeholder="Enter product description"
        formControlName="description"
        required
      ></textarea>
      <div
        *ngIf="
          addProductForm.get('description')?.invalid &&
          (addProductForm.get('description')?.dirty ||
            addProductForm.get('description')?.touched)
        "
        class="text-danger"
      >
        <div *ngIf="addProductForm.get('description')?.errors?.['required']">
          description is required
        </div>
        <div *ngIf="addProductForm.get('description')?.errors?.['minlength']">
          Invalid must be more than 8 chars
        </div>
        <div *ngIf="addProductForm.get('description')?.errors?.['maxlength']">
          Invalid must be less than 250 chars
        </div>
      </div>
    </div>

    <div class="row">
      <!-- Weight -->
      <div class="form-group col-6 mb-3">
        <label class="py-1" for="weight">Weight:</label>
        <input
          type="number"
          class="form-control"
          id="weight"
          formControlName="weight"
          placeholder="please put your weight in gm"
          required
        />
        <div
          *ngIf="
            addProductForm.get('weight')?.invalid &&
            (addProductForm.get('weight')?.dirty ||
              addProductForm.get('weight')?.touched)
          "
          class="text-danger"
        >
          <div *ngIf="addProductForm.get('weight')?.errors?.['required']">
            weight is required
          </div>
          <div *ngIf="addProductForm.get('weight')?.errors?.['min']">
            Invalid must be more than 10 gm
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <!-- price -->
      <div class="form-group mb-3 col-6">
        <label for="price">Price:</label>
        <input
          type="number"
          class="form-control"
          id="price"
          formControlName="price"
          placeholder="Enter product price"
          required
        />

        <div
          *ngIf="
            addProductForm.get('price')?.invalid &&
            (addProductForm.get('price')?.dirty ||
              addProductForm.get('price')?.touched)
          "
          class="text-danger"
        >
          <div *ngIf="addProductForm.get('price')?.errors?.['required']">
            Price is required
          </div>
          <div *ngIf="addProductForm.get('price')?.errors?.['min']">
            Invalid must be more than 10 Dollars
          </div>
        </div>
      </div>
      <!-- Image -->
      <div class="form-group mb-3 col-6">
        <label class="py-1" for="image">Image:</label>
        <input
          type="file"
          class="form-control"
          (change)="addPhoto($event)"
          placeholder="Enter product Image"
        />

        <div
          *ngIf="
            addProductForm.controls['image'].errors &&
            addProductForm.controls['image'].touched
          "
        >
          <span
            *ngIf="addProductForm.controls['image'].errors?.['required']!==undefined"
            class="text-danger"
            >Image is required</span
          >
        </div>
      </div>
    </div>
    <!-- price -->
    <div class="form-group mb-3 col-6">
      <label for="price">Quantity:</label>
      <input
        type="number"
        class="form-control"
        id="quantity"
        formControlName="quantity"
        placeholder="Enter product quantity"
        required
      />

      <div
        *ngIf="
          addProductForm.get('quantity')?.invalid &&
          (addProductForm.get('quantity')?.dirty ||
            addProductForm.get('quantity')?.touched)
        "
        class="text-danger"
      >
        <div *ngIf="addProductForm.get('quantity')?.errors?.['required']">
          Quantity is required
        </div>
        <div *ngIf="addProductForm.get('quantity')?.errors?.['min']">
          Invalid must be more than 10 gm
        </div>
      </div>
    </div>

    <button type="submit" class="btn btn-primary mx-auto">Submit</button>
  </div>
</form>
