
#Why-warehub {
    background-color: #f8f9fa;
    padding: 100px 0;
  }
  
  #Why-warehub h2 {
    font-size: 36px;
    margin-bottom: 30px;
  }
  
  #Why-warehub p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 30px;
  }
  
  #Why-warehub img {
    margin-bottom: 30px;
  }