<!-- <section id="Why-warehub">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2>Why ware Hub..?</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla maximus tellus nec justo varius, eget scelerisque enim viverra. Donec eget risus euismod, faucibus ipsum eget, suscipit mauris. Morbi euismod sodales ex, in pretium nulla sodales eu. Sed eget libero lobortis, efficitur dolor a, lacinia nibh. Sed ac leo vel nunc fermentum hendrerit a a leo. </p>
        <p>Nulla egestas, justo eget tristique condimentum, massa turpis volutpat erat, ut placerat massa elit a tellus. Nulla facilisi. Nullam pretium diam sed metus bibendum, ac consectetur neque rhoncus. In vitae urna ut purus tristique imperdiet. Maecenas quis ligula vel libero tempor fermentum. </p>
      </div>
      <div class="col-md-6">
        <img src="https://via.placeholder.com/600x400" alt="About Us Image" class="img-fluid">
      </div>
    </div>
  </div>
</section> -->
<section>
  <h2>Why Ware Hub?</h2>
  <div class="grid-container">
    <div class="grid-item">
      <i class="fas fa-laptop"></i>
      <h3>Convenient</h3>
      <p> Our strategically located warehouse provides easy access to major transportation routes, ensuring efficient distribution and logistics for your goods.
      </p>
    </div>
    <div class="grid-item">
      <i class="fas fa-users"></i>
      <h3>Collaborative</h3>
      <p> We foster a collaborative environment, working closely with our clients to understand their specific needs and provide customized warehousing solutions.
      </p>
    </div>
    <div class="grid-item">
      <i class="fas fa-shield-alt"></i>
      <h3>Secure</h3>
      <p>Our state-of-the-art security measures, including advanced surveillance systems and controlled access, ensure the safety and protection of your valuable inventory.
      </p>
    </div>
    <div class="grid-item">
      <i class="fas fa-rocket"></i>
      <h3>Fast</h3>
      <p>With streamlined processes and optimized operations, we prioritize speed, ensuring swift handling, storage, and delivery of your goods.</p>
    </div>
    <div class="grid-item">
      <i class="fas fa-tools"></i>
      <h3>Customizable</h3>
      <p>Our warehouse stands out for its customizable solutions and unwavering support, ensuring tailored services for all.</p>
    </div>
    <div class="grid-item">
      <i class="fas fa-headset"></i>
      <h3>Supportive</h3>
      <p>Our warehouse is renowned for its exceptional support, providing personalized assistance and guidance to meet your unique needs</p>
    </div>
  </div>
</section>