<section>
  <h2>Why Ware Hub?</h2>
  <div class="grid-container">
    <div class="grid-item">
      <i class="fas fa-laptop text-warning"></i>
      <h3>Convenient</h3>
      <p> Our strategically located warehouse provides easy access to major transportation routes, ensuring efficient distribution and logistics for your goods.
      </p>
    </div>
    <div class="grid-item">
      <i class="fas fa-users text-warning"></i>
      <h3>Collaborative</h3>
      <p> We foster a collaborative environment, working closely with our clients to understand their specific needs and provide customized warehousing solutions.
      </p>
    </div>
    <div class="grid-item">
      <i class="fas fa-shield-alt text-warning"></i>
      <h3>Secure</h3>
      <p>Our state-of-the-art security measures, including advanced surveillance systems and controlled access, ensure the safety and protection of your valuable inventory.
      </p>
    </div>
    <div class="grid-item">
      <i class="fas fa-rocket text-warning"></i>
      <h3>Fast</h3>
      <p>With streamlined processes and optimized operations, we prioritize speed, ensuring swift handling, storage, and delivery of your goods.</p>
    </div>
    <div class="grid-item">
      <i class="fas fa-tools text-warning"></i>
      <h3>Customizable</h3>
      <p>Our warehouse stands out for its customizable solutions and unwavering support, ensuring tailored services for all.</p>
    </div>
    <div class="grid-item">
      <i class="fas fa-headset text-warning"></i>
      <h3>Supportive</h3>
      <p>Our warehouse is renowned for its exceptional support, providing personalized assistance and guidance to meet your unique needs</p>
    </div>
  </div>
</section>